title: CurlDotNet Documentation
description: Pure .NET implementation of curl for C#
baseurl: "/curl-dot-net"
url: "https://jacob-mellor.github.io"
theme: jekyll-theme-cayman
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
exclude:
  - README.md
  - .gitignore
  - generate-docs.csx
